body {
    background-image: url('https://images.unsplash.com/photo-1464802686167-b939a67e06a1?w=1000');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    text-align: center;
    font-family: sans-serif;
    margin-top: 15%;
}
